<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include ..\Config.wxi ?>
  <Fragment>
    <Feature Id="ShellExtension" AllowAdvertise="no" Description="Explorer context menu integration"
      Level="1" Title="Shell Extension">
      <Component Id="ShellExtension" Directory="INSTALLDIR" Guid="*" Win64="$(var.Win64)">
        <?if $(var.Platform) = "x64" ?>
        <File Id="ShellExtensionX64DLL"
          Name="ShellExtensionX64.dll"
          SelfRegCost="1"
          Source="$(var.ShellExtBuildDir)\ShellExtensionX64.dll"
          Vital="yes" />
        <!--Do not include the 32 bit file in 64 bit package-->
        <?else ?>

        <File Id="ShellExtensionUDLL"
          Name="ShellExtensionU.dll"
          SelfRegCost="1"
          Source="$(var.ShellExtBuildDir)\ShellExtensionU.dll"
          Vital="yes" />
        <?endif ?>
        <util:RestartResource ProcessName="explorer.exe" />
      </Component>
    </Feature>
  </Fragment>
</Wix>